@font-face {
  font-family: 'Grenze';
  font-style: normal;
  font-weight: 400;
  src: local('Grenze'), local('Grenze'),
  url('./assets/fonts/Grenze-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto'),
  url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
}
